// Place all the styles related to the creamery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.titles {
    padding-left: 30px;
  padding-top: 30px;
  background-color: #ffffff;
}